<!DOCTYPE html>
<html lang="en">

<head>
	<title>PRYINGCHESS</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->

	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<!--===============================================================================================-->
</head>

<body class="animsition">

	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			{{>user-header}}

			<!-- Slider -->
			<section class="section-slide">
				<div class="wrap-slick1">
					<div class="slick1">
						{{#each banners}}
						<div class="item-slick1" style="background-image: url(images/bannersImg/{{this.Image}});">
							<div class="container h-full">
								<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
									<div class="layer-slick1 animated visible-false" data-appear="fadeInDown"
										data-delay="0">
										<span class="ltext-101 cl2 respon2">
											{{this.bannerHeading}}
										</span>
									</div>

									<div class="layer-slick1 animated visible-false" data-appear="fadeInUp"
										data-delay="800">
										<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
											{{this.bannerSubheading}}
										</h2>
									</div>

									<div class="layer-slick1 animated visible-false" data-appear="zoomIn"
										data-delay="1600">
										<a href="/shop"
											class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
											Shop Now
										</a>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</section>


			<!-- Product -->
			<section class="bg0 p-t-23 p-b-140">
				<div class="container mt-5">
					<div class="p-b-10">
						<h3 class="ltext-103 cl5">
							Products Overview
						</h3>
					</div>


					<div class="flex-w flex-sb-m p-b-52">
						<div class="flex-w flex-l-m filter-tope-group m-tb-10">
							<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
								All Products
							</button>

							<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
								data-filter=".633d19f83e5a0f1b7ba9437f">
								Glass Chess Sets
							</button>

							<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
								data-filter=".630c620fdd6f1ccd06755e9f">
								Magnetic Chess Sets
							</button>

							<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
								data-filter=".630c6218dd6f1ccd06755ea2">
								Marble Chess Sets
							</button>

							<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
								data-filter=".630c621fdd6f1ccd06755ea5">
								Modern Chess Sets
							</button>

						</div>
					</div>

					<div class="row isotope-grid">
						{{#each data}}
						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{this.Category._id}}">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src="/images/productsImg/{{this.Image.[0]}}" alt="IMG-PRODUCT"
										style="height: 11rem;">

									<a href="/productDetails/{{this._id}}"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
										Quick View
									</a>
									{{!-- <a href="/addToCart/{{this._id}}"
										class="block3-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn2 p-lr-15 trans-04">
										Add to cart
									</a> --}}
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="/productDetails/{{this._id}}"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 text-dark">
											{{this.productName}}
										</a>

										<div class="d-flex flex-column">
											<span class="stext-105 cl3">
												<del class="text-muted">₹ {{this.Price}}</del>
											</span>
											<span class="stext-105 cl3">
												<strong>₹ {{this.sellPrice}}</strong>
											</span>
										</div>
									</div>
									<div>
										<button onclick="addToCart('{{this._id}}','1','{{this.sellPrice}}')"><i
												class="fa fa-cart-plus" style="font-size:24px"></i></button>
									</div>
									<div class="block2-txt-child2 flex-r p-t-3">
										<button onclick="addToWishlist('{{this._id}}')"
											class="btn-addwish-b2 dis-block pos-relative" id="btnWish"
											style="color: rgb(255, 0, 0);">
											<i class="fa fa-heart-o" aria-hidden="true"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
					</div>

					{{!-- <!-- Load more -->
					<div class="flex-c-m flex-w w-full p-t-45">
						<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
							Load More
						</a>
					</div> --}}
				</div>
			</section>


			<!-- Footer -->
			{{>footer}}

			<!-- Back to top -->
			<div class="btn-back-to-top" id="myBtn">
				<span class="symbol-btn-back-to-top">
					<i class="zmdi zmdi-chevron-up"></i>
				</span>
			</div>

			<!--===============================================================================================-->
			<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
			<!--===============================================================================================-->
			<script src="/vendor/animsition/js/animsition.min.js"></script>
			<!--===============================================================================================-->
			<script src="/vendor/bootstrap/js/popper.js"></script>
			<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
			<!--===============================================================================================-->
			<script src="/vendor/select2/select2.min.js"></script>
			<script>
				$(".js-select2").each(function () {
					$(this).select2({
						minimumResultsForSearch: 20,
						dropdownParent: $(this).next('.dropDownSelect2')
					});
				})
			</script>

			<!--===============================================================================================-->
			<script src="/vendor/daterangepicker/moment.min.js"></script>
			<script src="/vendor/daterangepicker/daterangepicker.js"></script>
			<!--===============================================================================================-->
			<script src="/vendor/slick/slick.min.js"></script>
			<script src="/js/slick-custom.js"></script>
			<!--===============================================================================================-->
			<script src="/vendor/parallax100/parallax100.js"></script>
			<script>
				$('.parallax100').parallax100();
			</script>
			<!--===============================================================================================-->
			<script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
			<script>
				$('.gallery-lb').each(function () { // the containers for all your galleries
					$(this).magnificPopup({
						delegate: 'a', // the selector for gallery item
						type: 'image',
						gallery: {
							enabled: true
						},
						mainClass: 'mfp-fade'
					});
				});
			</script>
			<!--===============================================================================================-->
			<script src="/vendor/isotope/isotope.pkgd.min.js"></script>
			<!--===============================================================================================-->
			<script src="/vendor/sweetalert/sweetalert.min.js"></script>
			<script>


			</script>
			<!--===============================================================================================-->
			<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
			<script>
				$('.js-pscroll').each(function () {
					$(this).css('position', 'relative');
					$(this).css('overflow', 'hidden');
					var ps = new PerfectScrollbar(this, {
						wheelSpeed: 1,
						scrollingThreshold: 1000,
						wheelPropagation: false,
					});

					$(window).on('resize', function () {
						ps.update();
					})
				});
			</script>

			<!--===============================================================================================-->
			<script src="/js/main.js"></script>

</body>

</html>